<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

{% if error %}
<p><strong>Unknown user or wrong password.</strong></p>
{% endif %}

<div class="container">
    <h2 class="text-center">Please enter your login information</h2>
        <form method="post" action="{% url 'connection' %}">
        {% csrf_token %}
        {{ form }}
            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
</div>

</body>
</html>