{% extends 'base.html' %}
{% block title %} Project {% endblock %}

<!-- Logout button -->
{% block logout %}
<hr>
<p style="text-transform: capitalize">Welcome {{ user.first_name }} {{ user.last_name }}</p>
<div style="float: right" >
    <a href="/accounts/logout"><i class='fas fa-sign-out-alt' style='font-size:50px; color:dodgerblue'></i></a>
</div>
{% endblock %}

<!-- Navigation Bar -->
{% block nav %}
<nav class="navbar navbar-expand-sm" style="background-color:#e9ecef">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'projects' %}" target="_self">Projects</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'project' project_get.id %}" target="_self">{{ project_get.name }}</a>
        </li>
    </ul>
</nav>
{% endblock %}

<!-- Page content -->
{% block content %}

<!-- Button for add a new task -->
<div style="float: right" >
    <a href="{% url 'add_task' project_get.id %}"><i class='fas fa-plus-circle' style='font-size:40px; color:dodgerblue'></i></a>
</div>

<h1>{{ project_get }}</h1>
<!-- List of all tasks in this project -->
<table class="table table-hover" style="font-size: 18px">
    <thead>
    <tr>
        <th>Task</th>
        <th>Assignee</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>  </th>
    </tr>
    </thead>
    <tbody>
    {% for task in task_list %}
        <tr>
            <td>
                <a href="{% url 'task' task.id %}" target="_self">{{ task.name }}</a>
            </td>
            <td style="text-transform: capitalize">
                <span class="badge badge-primary">{{ task.assignee.first_name }} {{ task.assignee.last_name }}</span>
            </td>
            <td style="font-style: italic">
                <p>{{ task.start_date }}</p>
            </td>
            <td style="font-style: italic">
                <p>{{ task.due_date }}</p>
            </td>
            <td>
<!--                <a href="{% url 'edit_task' task.id %}" target="_self">-->
<!--                    <span class="glyphicon glyphicon-edit"></span>-->
<!--                </a>-->
                <a href="{% url 'edit_task' task.id %}" target="_self"><i class='fas fa-edit' style='color:dodgerblue'></i></a>
            </td>
        </tr>
    </tbody>
    {% empty %}
        <div>
            <p>No task in the project</p>
        </div>
    {% endfor %}
</table>

{% endblock %}