{% extends 'base.html' %}

{% block title %} Task details {% endblock %}

{% block welcome %}
<hr>
<p style="text-transform: capitalize">Welcome {{ user.first_name }} {{ user.last_name }}</p>
{% endblock %}

<!-- Logout button -->
{% block logout %}
<div style="float: right" >
    <a href="/accounts/logout" class="btn btn-primary">Logout</a>
</div>
{% endblock %}


{% block content %}

<!-- Navigation Bar -->
<div>
    <a href="{% url 'projects' %}" target="_self">Projects</a>
    <a href="{% url 'project' task_get.project.id %}" target="_self">/ {{ task_get.project.name }}</a>
    <a href="{% url 'task' task_get.id %}" target="_self">/ {{ task_get.name }}</a>
    <hr>
</div>

<!-- Button for add a new journal -->
<div style="float: right" >
    <a href="{% url 'add_journal' %}" class="btn btn-primary">Add a journal</a>
</div>

<h1>{{ task_get.project }}</h1>
<h3>{{ task_get }}</h3>
<p>Description : {{ task_get.description }}</p>

<!-- List of details of this task -->
<table class="table">
    <div>
        <tr>
            <td><b>Assignee</b></td>
            <td style="text-transform: capitalize">
                <span class="badge badge-primary">{{ task_get.assignee.first_name }} {{ task_get.assignee.last_name }}</span>
            </td>
        </tr>
        <tr>
            <td><b>Start date</b></td>
            <td style="font-style: italic">{{ task_get.start_date }}</td>
        </tr>
        <tr>
            <td><b>Due date</b></td>
            <td style="font-style: italic">{{ task_get.due_date }}</td>
        </tr>
        <tr>
            <td><b>Status</b></td>
            <td>
                <span class="badge badge-warning">{{ task_get.status }}</span>
            </td>
        </tr>
    </div>
</table>

<hr>

<!-- List of historic journal -->
<table class="table">
    <p><b>History</b></p>

    <div>
    {% for journal in journal_list %}
        <tr>
            <td>
                <span class="badge badge-primary">{{ journal.author.first_name }} {{ journal.author.last_name }}</span>
            </td>
            <td style="font-style: italic">
                <p>{{ journal.date }}</p>
            </td>
            <td>
                <p>{{ journal.entry }}</p>
            </td>
        </tr>
    </div>

    {% empty %}
        <div>
            <p>No history in the task</p>
        </div>
    {% endfor %}
</table>

{% endblock %}