{% extends 'base.html' %}
{% block title %} Task details {% endblock %}

<!-- Welcome sentence -->
{% block logout %}
<hr>
<p style="text-transform: capitalize">Welcome {{ user.first_name }} {{ user.last_name }}</p>

<!-- Logout button -->
<div style="float: right" >
    <a href="/accounts/logout"><i class='fas fa-sign-out-alt' style='font-size:50px; color:dodgerblue'></i></a>
</div>
{% endblock %}

<!-- Navigation Bar -->
{% block nav %}
<nav class="navbar navbar-expand-sm" style="background-color:#e9ecef">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{% url 'projects' %}" target="_self">Projects</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'project' task_get.project.id %}" target="_self">{{ task_get.project.name }}</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'task' task_get.id %}" target="_self">{{ task_get.name }}</a>
        </li>
    </ul>
</nav>
{% endblock %}

<!-- Page content -->
{% block content %}

<!-- Button for add a new journal -->
<div style="float: right" >
    <a href="{% url 'add_journal' task_get.id %}"><i class='fas fa-edit' style='font-size:40px; color:dodgerblue'></i></a>
</div>

<!-- Subtitle -->
<h1>{{ task_get.project }}</h1>
<h3>{{ task_get }}</h3>
<p>Description : {{ task_get.description }}</p>

<!-- List of details of this task -->
<table class="table">
    <div>
        <tr>
            <td><b>Assignee</b></td>
            <td style="text-transform: capitalize">
                <span class="badge badge-primary">{{ task_get.assignee.first_name }} {{ task_get.assignee.last_name }}</span>
            </td>
        </tr>
        <tr>
            <td><b>Start date</b></td>
            <td style="font-style: italic">{{ task_get.start_date|date:"d M Y" }}</td>
        </tr>
        <tr>
            <td><b>Due date</b></td>
            <td style="font-style: italic">{{ task_get.due_date|date:"d M Y" }}</td>
        </tr>
        <tr>
            <td><b>Status</b></td>
            <td>
                <span class="badge badge-warning">{{ task_get.status }}</span>
            </td>
        </tr>
    </div>
</table>

<hr>

<!-- List of historic journal -->
<table class="table">
    <p><b>History</b></p>
    <div>
    {% for journal in journal_list %}
        <tr>
            <td style="text-transform: capitalize">
                <span class="badge badge-primary">{{ journal.author.first_name }} {{ journal.author.last_name }}</span>
            </td>
            <td style="font-style: italic">
                <p>{{ journal.date|date:"d M Y H:i" }}</p>
            </td>
            <td>
                <p>{{ journal.entry }}</p>
            </td>
        </tr>
    </div>
    {% empty %}
        <div>
            <p>No history in the task</p>
        </div>
    {% endfor %}
</table>

{% endblock %}