{% extends 'base.html' %}

{% block title %} Connection {% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="usr">Username:</label>
        <input type="text" class="form-control" id="usr" name="username">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
